<a href="https://colab.research.google.com/github/Hyuna13/Data_Science/blob/master/DataFrame%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import files
uploaded = files.upload()

Saving enrolment_3.csv to enrolment_3.csv

In [6]:
import pandas as pd

In [10]:
df = pd.read_csv('enrolment_3.csv')
df

           id  year           course name   status room assignment
0     2777729     1               science  allowed      Auditorium
1     2777730     2               science  allowed      Auditorium
2     2777765     1                  arts  allowed      Auditorium
3     2777766     2                  arts  allowed      Auditorium
4     2777785     1                   mba  allowed      Small room
...       ...   ...                   ...      ...             ...
1995  2796805     3  computer application  allowed     Medium room
1996  2796812     1               nursing  allowed     Medium room
1997  2796813     2               nursing  allowed     Medium room
1998  2796814     3               nursing  allowed     Medium room
1999  2796815     4               nursing  allowed     Medium room

[2000 rows x 5 columns]

In [16]:
allowed = df['status'] == 'allowed'
course_counts = df.loc[allowed, 'course name'].value_counts()
course_counts

arts               158
science            124
commerce           101
english             56
education           41
                  ...
music                5
dental               5
mca                  5
nanotechnology       5
interior design      5
Name: course name, Length: 82, dtype: int64

In [12]:
# 각 강의실 규모에 해당되는 과목 리스트 만들기
auditorium_list = list(course_counts[course_counts >= 80].index)
large_room_list = list(course_counts[(80 > course_counts) & (course_counts >= 40)].index)
medium_room_list = list(course_counts[(40 > course_counts) & (course_counts >= 15)].index)
small_room_list = list(course_counts[(15 > course_counts) & (course_counts > 4)].index)

In [13]:
# 강의실 이름 붙이기
for i in range(len(auditorium_list)):
    df.loc[(df["course name"] == sorted(auditorium_list)[i]) & allowed, "room assignment"] = "Auditorium-" + str(i + 1)

for i in range(len(large_room_list)):
    df.loc[(df["course name"] == sorted(large_room_list)[i]) & allowed, "room assignment"] = "Large-" + str(i + 1)
    
for i in range(len(medium_room_list)):
    df.loc[(df["course name"] == sorted(medium_room_list)[i]) & allowed, "room assignment"] = "Medium-" + str(i + 1)
    
for i in range(len(small_room_list)):
    df.loc[(df["course name"] == sorted(small_room_list)[i]) & allowed, "room assignment"] = "Small-" + str(i + 1)

In [14]:
# column 이름 바꾸기
df.rename(columns={"room assignment": "room number"}, inplace = True)

In [15]:
df

           id  year           course name   status   room number
0     2777729     1               science  allowed  Auditorium-3
1     2777730     2               science  allowed  Auditorium-3
2     2777765     1                  arts  allowed  Auditorium-1
3     2777766     2                  arts  allowed  Auditorium-1
4     2777785     1                   mba  allowed      Small-34
...       ...   ...                   ...      ...           ...
1995  2796805     3  computer application  allowed      Medium-7
1996  2796812     1               nursing  allowed     Medium-22
1997  2796813     2               nursing  allowed     Medium-22
1998  2796814     3               nursing  allowed     Medium-22
1999  2796815     4               nursing  allowed     Medium-22

[2000 rows x 5 columns]